@import "../styles/typography.css";

html,
body {
  height: 100%;
}

#sideBar {
  background-color: #ebf4f9;
  width: 100%;
  height: 200px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sideBarTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

h1 {
  margin-bottom: 20px;
  font-size: 40px;
  font-family: "BebasNeue";
}

p {
  margin-top: 10px;
  font-family: "Typewriter";
}


/* medium screens */
@media (min-width: 1280px) {
  #sideBar {
    width: 400px;
    height: 100vh;
    position: fixed;
  }

  #sideBarTextWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }

  #indexPhotoGrid {
    margin-left: 400px;
  }
}

/* small screens 720px*/